* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "monserrat", sans-serif;
  color: #333;
   background: #ff6f61;
  background: linear-gradient(
    90deg,
    rgba(255, 111, 97, 1) 0%,
    rgba(255, 127, 80, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.header {
  background: #ff6f61;
  background: linear-gradient(
    90deg,
    rgba(255, 111, 97, 1) 0%,
    rgba(255, 127, 80, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2em 4em;
}

.navbar .logo a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
}


.navbar ul {
  display: wrap;
}


  .nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a {
  color: brown;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #ffebcd;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  font-size: 1.5rem;
  color: #333;
}



.seccion_principal {
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 111, 97, 1) 0%,
    rgba(255, 127, 80, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #ff6f61;
  animation: fadeIn 1.5s;
}

.seccion_principal h2 {
  font-size: 20rem;
  font-weight: bold;
}

.bienvenida {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 2em;
}

.bienvenida2 {
  color: #333;
  font-size: 1.5em;
}

.textoPrincipal {
  font-size: 500px;
  font-weight: 900px;
  color: black;
  margin: 0;
  position: relative;
  z-index: 1;
}


.imagen-cupcake {
  width: 500px;
  position: relative;
  z-index: 2;
  margin-top: -300px;
}


/* reseñas */

.seccion-reseñas {
  background-color:aquamarine;
  padding: 4rem 2rem;
}

.grid-reseñas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  align-items: start;
}

.titulo-ofertas {
  font-size: 500px;
  font-weight: 900px;
  color: black;
  margin: 0;
  position: relative;

}

.macaron {
  width: 100%;
  height: auto;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.columna-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.encabezado-texto {
  margin-bottom: 1rem;
}

.encabezado-texto h1 {
  font-size: 5rem;
  color: white;
  margin: 0;
  font-weight: bold;
}

.subtitulo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 0.5rem;
}

.contenido-texto p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  margin-bottom: 1rem;
}

/* section-productos */ 

.section-productos {
  padding: 80px;
}

.section-productos h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--dark-color);
}

.section-productos p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--light-gray);

}

.producto_carrito{
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding-left: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

}

.producto_carrito:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.producto_carrito img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 15px;
}

.producto-descripcion {
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.producto-descripcion span {
  color: var(--light-gray);
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.producto-descripcion h5 {
  color: var(--dark-color);
  font-size: 1rem;
  margin-bottom: 10px;
  flex-grow: 1;
}

.producto-descripcion h4 {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: auto;
}

.carrito-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--primary-color);
  color: wheat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.carrito-btn:hover {
  background-color: #f06f6f;
  color: white;
  transform: scale(1.1);
}

/* clientes */ 

#reseñas-clientes {
  
  padding: 3rem 1rem;
  border-radius: 20px;
}

#contenedor-comentarios .card {
  transition: all 0.3s ease-in-out;
}

#contenedor-comentarios .card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* productos */ 

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  flex: 1 1 30%;
  height: 250px;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  z-index: 1;
}

.producto p {
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-transform: lowercase;
}
.tortas {
  background-image: url(img/torta.png);
  background-color: #3d0d0d;
}

.cupcake {
  background-image: url(img/cupcake.png);
  background-color: #637c2e;
}

.bombones {
  background-image: url(img/bombones.png);
  background-color: #7e4149;
}

.patisserie {
  background-image: url(img/rool.png);
  background-color: #e2a9b6;
}

.macarons {
  background-image: url(img/macaron.png);
  background-color: #b37040;
}

.cookies {
  background-image: url(img/cookies.png);
  background-color: #e26363;
}

/* contacto */

.contacto {
  background-color: blanchedalmond;
  padding: 4rem 2em;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.formulario {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.form-title {
  font-size: 10rem;
  color: white;
  font-weight: 700px;
  margin-bottom: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #e26363;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.caja_imagen {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja_imagen img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* footer */

.footer {
 
  padding: 2rem 1rem;
  text-align: center;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin-bottom: 1rem;
}

.footer-nav li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.footer-derechos {
  font-weight: bold;
  margin-top: 1rem;
}

/* Responsive */


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
    color: #333;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;

  
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}



@media (max-width: 768px) {

    .seccion_principal h1 {
    font-size: 5rem;
  }
.seccion_principal h2 {

  font-size: 5em;
}
  .imagen-cupcake {
    width: 200px;
    margin-top: -3rem; 
  }
}



@media (max-width: 900px) {
  .categoria {
    flex: 1 1 calc(50% - 1em);
  }
}

@media (max-width: 600px) {
  .categoria {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .grid-reseñas {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .macaron {
    max-width: 300px;
  }

  .columna-texto {
    align-items: center;
  }

  .encabezado-texto h1 {
    font-size: 2.2rem;
  }

  .subtitulo {
    font-size: 1rem;
  }

  .contenido-texto {
    text-align: left;
  }
}


